<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Subir Video</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
      <label for="video">Selecciona un video:</label>
      <input type="file" name="video" id="video" accept="video/*" required>
      <button type="submit">Subir</button>
    </form>
</body>
</html>